*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background: #ffff;
}
.background{
    background: linear-gradient(45deg,  #000000c7, #00000095), url(../img/natural-hair.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 200px;
}

.background .breadcrumb {
    background: transparent !important;
    font-size: 16px;
}

.breadcrumb a{
    text-decoration: none;
    color: wheat;
}

.forget-h3{
    color: rgb(182, 56, 7);
}

.form-control{
    border-radius: 40px;
    padding: 27px !important;
}
#submit-btn a{
    border: 2px solid rgb(126, 71, 50);
    padding: 5px 35px;
    color: #ffff;
    background: rgb(126, 71, 50);
    transition: all 0.5s ease-in;
    font-weight: bold;
}
.btn{
    border-radius: 40px !important;
}
#submit-btn a:hover{
    background: transparent;
    color: rgb(182, 56, 7);
    font-weight: bold;
    padding: 5px 35px;
}
