*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background: #ffff;
    color: rgb(151, 63, 25);
}
.background{
    background:  linear-gradient(45deg,  #000000c7, #00000095), url(../img/natural-hair.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 200px;
}

.background .breadcrumb {
    background: transparent !important;
    font-size: 16px;
}

.breadcrumb a{
    text-decoration: none;
    color: wheat;
}

.card-body{
    border-radius: 16px;
    width: 1000px;
}

.form-control{
    border-radius: 10px;
}

.fa{
    color: rgb(151, 63, 25);
} 

 #submit-btn a{
     border: 2px solid rgb(175, 72, 31);
     padding: 5px 30px;
     color: #ffff;
     background: rgb(175, 72, 31);
     transition: all 0.5s ease-in;
     font-weight: bold;
 }

 .btn{
     border-radius: 40px !important;
 }

 #submit-btn a:hover{
     background: transparent;
     color: rgb(175, 72, 31);
     font-weight: bold;
     padding: 5px 30px;
 }